@charset "utf-8";
/* CSS Document */
html,body{font-size:12px; line-height:18px; font-family:"微软雅黑"; background:#f9f9f9}
ul,li{ list-style:none;}
.head{ margin:auto; width:100%; background:#0168aa url(../skin/default/img/header.jpg) center; height:80px; border-bottom:3px  solid #194e70;}
.inhead{max-width:1280px; min-width:1002px; height:80px; margin:auto;}
.inheadleft{ float:left;}
.inheadright{ float:right;}
.logo{float:left;}
.logo a{ display:block; background:url(../skin/default/img/logo.png) no-repeat; height:62px; float:left; width:60px; margin-top:10px; margin-right:50px;}
.homenav{float:left; padding-top:5px;}
.homenav>li{ float:left; height:75px; list-style:none; font-size:12px; }
.homenav>li.dropdown.open { background-color:#003c64; background-color:rgba(0,0,0,0.4); }
.homenav>li .l1{ display:block; text-align:center; width:90px; height:25px; padding-top:50px; text-decoration:none; background-image:url(img/main_icon_menu.png); background-position:center top; background-repeat:no-repeat; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5); }
.homenav li .l1:hover{ color:#0FF}
.homenav li .icon1{ background:url(../skin/default/img/main_icon_menu2.png) no-repeat center 0;}
.homenav li .icon2{ background:url(../skin/default/img/main_icon_menu2.png) no-repeat center -70px;}
.homenav li .icon3{ background:url(../skin/default/img/main_icon_menu2.png) no-repeat center -140px;}
.homenav li .icon4{ background:url(../skin/default/img/main_icon_menu2.png) no-repeat center -210px;}
.homenav li .icon5{ background:url(../skin/default/img/main_icon_menu2.png) no-repeat center -280px;}

.search{ background:url(../skin/default/img/search_input.png); width:154px; height:29px; float:left; margin-top:25px;}
#header_sub_menu { float:right; margin-top:17px; height:50px; line-height:50px; }
 #header_sub_menu .icon_a { font-size:20px; padding:4px 6px; text-decoration:none; color:#84b7d4; text-shadow:1px 1px 0 rgba(0,0,0,0.5); }
 #header_sub_menu .icon_a:hover { color:#FFF; }

.warp{}
.inwarp{max-width:1280px; min-width:1002px; margin:auto; background:#ffffff; position:;}
.index_left{ float:left; width:65%; }
.index_right{ float:right; width:34.2%;}
.module_title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-color: #cecece;
    border-left: medium none;
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    padding-left: 6px; position:relative;
}

.top_list{ padding-bottom:16px; }
.top_list UL{ float:left; width:100%; }
.top_list LI{ float:left; width:22%; margin-right:3%; line-height:32px;}
.top_list .l_left{ float:left; width:100px; font-weight:bold; text-align:right;}
.top_list .l_right{ float:left; padding-left:12px;}

.module_t{ float:left; font-size:14px;  font-weight:bold; width:120px;line-height: 20px; margin-bottom:0px; margin-top: 8px;}
.module_t span{background:#E8E8E8;}
.content_module h3{ position:relative;}
.content_module h3 .more{position:absolute; right:10px; top:0px;}
.big_title{ font-size:24px; font-weight:bold; text-align:center; line-height:50px;}
.credit_line div{ float:left; width:25%; text-align:left; text-indent:20px; line-height:30px;}
.credit_line  span{ font-weight:bold;}
.credit_line2{ border-bottom:1px dashed #999; margin-bottom:10px; line-height:30px; width:97%; margin:auto; position:relative; height:15px;}
.credit_line2 .txt{position:absolute; left:0px; top:0px; background:#fff;  padding-right:10px; color:#666}
.module_title .rightpostion{ position:absolute; right:10px;}
.process{ position:relative}
.process .processlist{ height:60px; margin-bottom:20px;}
.process .processlist li{ float:left; position:relative; background:url(../images/process-1_03.jpg) right no-repeat;  line-height:38px; font-size:14px; /*font-weight:bold; padding-right:25px; margin-left:25px;*/ text-align:center; margin-right:0px; text-indent:-1em; color:#aaa}
.process .processlist .finish{ color:#000;}
.process .processlist .current{ font-size:16px; font-weight:bold; color:#2e689e;}
.process .processlist dd{ position:relative; left:50%; bottom:-1px; background:url(../images/process-1_07.jpg); width:13px; height:6px; margin-left:-10px;}
.process .process_bg{ position:absolute; bottom:0px; left:0px; right:0px; background:url(../images/process-1_20.jpg) repeat-x; height:15px;}
.process .process_bg .f_l{ position:absolute; background:url(../images/process-1_19.jpg) no-repeat; left:0px; top:0px; width:11px;height:15px;}
.process .process_bg .f_r{ position:absolute; background: url(../images/process-1_22.jpg) no-repeat; right:0px; top:0px; width:9px;height:15px;}
.process .process_bg_finished{ position:absolute; bottom:0px; left:0px; background: url(../images/process-1_11.jpg) repeat-x; height:15px;}
.process .process_bg_finished .f_l{ position:absolute; background: url(../images/process-1_10.jpg) no-repeat; left:0px; top:0px; width:11px;height:15px;}
.process .process_bg_finished .f_r{ position:absolute; background:  url(../images/process-1_15.jpg) no-repeat; right:0px; top:0px; width:9px;height:15px;}