/* process_bar */
.process_bar { padding:12px 0; text-align:center; margin-bottom:10px; border-top:1px dotted #ccc; margin-top:10px}
.process_bar li { list-style:none; width:130px; height:50px; display:inline-block; *display:inline; *zoom:1; background:url(../img/process_bar.png) no-repeat right top; color:#888; }
.process_bar .process_label { width:170px; padding-top:24px; height:60px; overflow:hidden; text-align:center; position:relative; right:-60px; }
.process_bar li:first-child { width:14px; }
.process_bar li:first-child .process_label { right:60px; }
.process_bar li.current .process_label { font-size:16px; font-weight:bold; color:#333; }
.process_bar li.current { background-position:right -50px; }
.process_bar li.current ~ li { background-position:right -100px; }
.process_bar li.current ~ li .process_label { color:#bbb; }


.top_list{ padding-bottom:16px;overflow:hidden }
.top_list UL{ float:left; width:100%; }
.top_list LI{ float:left; width:22%; margin-right:3%; line-height:32px;}
.top_list .l_left{ float:left; width:100px; font-weight:bold; text-align:right;}
.top_list .l_right{ float:left; padding-left:12px;}

/* content_module */
.content_module { padding:0; margin-bottom:12px; background:#fff; border:1px solid #b3c8d1; box-shadow:0 0 6px rgba(0,0,0,0.2); border-radius:4px; }
.content_module h3{ position:relative;}
.content_module h3 .more{position:absolute; right:10px; top:0px;}
.content_module_col { padding:0 4px; }
.content_module_col .table { border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; }
.module_query { font-size:12px; padding-bottom:2px; }
.module_query form { margin:0; }
.module_query label, .module_query input, .module_query select, .content_module_funcs label, .content_module_funcs input, .content_module_funcs select { font-size:12px !important; padding:2px 4px; *padding-left:0; }
.content_module_funcs select { height:26px; }
.module_title { font-weight:normal; height:38px; line-height:38px; padding-left:6px; overflow:hidden; background:#ebf3f7; border-bottom:1px solid #c9d8de; border-left:6px solid #1873a8; }
.module_title:first-child { border-radius:4px 4px 0 0; }
.module_title .title_label { font-size:14px; float:left; font-weight:bold; padding:0 6px; color:#0f689b; }
.module_title .title_label i { padding-right:6px; }
.module_title .title_tips { font-size:12px; color:#888; }
.module_title .module_query { float:right; margin-top:-2px; padding-right:6px; }
.module_title .module_query:before { content:"1"; visibility:hidden; }
.nav-tabs .module_query { padding:4px; }
.chart_container { padding-bottom:12px; position:relative; }
.chart_title { padding:4px 8px; margin-bottom:8px; text-align:center; }
.chart_title .title_label { font-size:14px; font-weight:bold; padding:0 !important; border:none !important; }
.chart_container.with_carousel_control { padding-left:46px; padding-right:46px; }
.chart_container.with_carousel_control .carousel-control { visibility:hidden; top:30%; }
.chart_container.with_carousel_control:hover .carousel-control { visibility:visible; }

.content_module_box .form-fluid { padding:14px 10% 8px 3%; }
.content_module_box .form-horizontal { padding:14px 0 8px; }
.content_module_box .control-group { margin-top:8px; margin-bottom:0; }

.warp{}
.inwarp{max-width:1280px; min-width:1002px; margin:auto; background:#ffffff;}
